<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Select a Post</h1>
        </header>
        <section class="blog-container">
            <ul class="list-group">
                {% for post in posts %}
                <li class="list-group-item">
                    <a href="{{ url_for('view_post', post_name=post.name) }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <div class="button-container">
                <a class="button" href="{{ url_for('create_post') }}">Create New Post</a>
            </div>
        </section>
    </div>
</body>
</html>
